*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{
background:#0f172a;
color:white;
}

header{
position:fixed;
width:100%;
background:#111827;
padding:20px;
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
max-width:1200px;
margin:auto;
}

ul{
display:flex;
list-style:none;
}

li{
margin-left:25px;
}

a{
color:white;
text-decoration:none;
}

.hero{
display:flex;
justify-content:space-between;
align-items:center;
padding:140px 10%;
}

.hero img{
width:320px;
border-radius:50%;
border:5px solid #38bdf8;
}

span{
color:#38bdf8;
}

.btn{
display:inline-block;
margin-top:20px;
padding:12px 25px;
background:#38bdf8;
color:black;
border-radius:8px;
}

section{
padding:90px 10%;
}

.cards{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(180px,1fr));
gap:20px;
}

.card{
background:#1e293b;
padding:30px;
text-align:center;
border-radius:12px;
transition:.3s;
}

.card:hover{
transform:translateY(-10px);
}

.projects{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
gap:20px;
}

.project{
background:#1e293b;
padding:30px;
border-radius:15px;
}

footer{
text-align:center;
padding:30px;
background:#111827;
}

.light{
background:white;
color:black;
}
